body, html {
  margin: 0;
  padding: 0;
}

.Titulo {
  text-align: center;
  margin: 0 auto;
  color: aliceblue;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card
{
  background-color: rgb(221, 214, 238);
 box-shadow: 0 4px 16px rgba(12, 5, 5, 0.25);
}