   body, html {
      margin: 0;
      padding: 0;
    }

    .Titulo {
      text-align: center;
      margin: 0 auto;
      color: rgb(250, 240, 255);
      margin-bottom: 0;
      padding-bottom: 0;
    }

    #titulo2, #titulo2 h2 {
      background-color: rgb(91, 13, 13);
      color: rgb(250, 240, 255);
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    .panel_lateral {
      background-color: rgb(171, 15, 57);
      margin-top: 0;
      padding-top: 0;
      border-top: 0;
    }

    .panel_lateral .list-group-item {
      background-color: transparent;
      border: none;
      color: #fff;
      margin-top: 0%;
      padding-top: 30px;
      border-top: 0px;
    }

    aside .list-group {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 170px;
  margin: 170px;
}

    .fa-duotone {
      margin: 10px;
    }

    .form-control {
      margin-top: 10px;
      margin: 10px;
    }

    .btn {
      background-color: rgb(171, 15, 57);
        border: none;
        color: white;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }